
body {

// WÄSCHEREI title
  div.waescherei {
    font-size: 2.5vw;

    @media screen and (max-width: 600px) {
    font-size: 4.5vw;
    }
  }


  div.main-6-level {


    // first-3-steps
     div.first-3-level {

       div div.image {
          height: 30vw;

          @media screen and (max-width: 600px) {
            height: 55vw;
          }
       }
     }
  }

  .vert .carousel-item-next.carousel-item-left,
  .vert .carousel-item-prev.carousel-item-right {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .vert .carousel-item-next,
  .vert .active.carousel-item-right {
      -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100% 0);
  }
  
  .vert .carousel-item-prev,
  .vert .active.carousel-item-left {
  -webkit-transform: translate3d(0,-100%, 0);
          transform: translate3d(0,-100%, 0);
  }
}
