html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {

// WÄSCHEREI title
  div.waescherei {
    font-size: 2.5vw;

    @media screen and (max-width: 600px) {
    font-size: 4.5vw;
    }
  }

  button {
    &:hover {
      background-color: #3D1000;
    }
  }

  div.main-6-level {

    div.main-6-level-text {

      h5 {
        padding: 3vw 0;
      }
    }



    // first-3-steps
     div.first-3-level {

       div div.image {
          height: 30vw;

          &:hover {
            cursor: pointer;
          }

          img {
            height: 100%;
            width: 100%;

            &:hover {
              filter: brightness(120%);
              border: 2px solid yellow;
            }
          }

          @media screen and (max-width: 600px) {
            height: 55vw;
          }
       }
     }
  }

  .vert .carousel-item-next.carousel-item-left,
  .vert .carousel-item-prev.carousel-item-right {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }


// starting picturs for carousel
  div.carouselPicturesContainer {
    margin: 3vw 0;

    div.carouselPictures {
      width: 97%;
      margin: 0 auto;;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border: 2px solid red;

      div {
        text-align: center;
        height: 20vw;
        width: 30%;
        margin:1vw 0;

        img {
          width: 90%;
          height: 100%;

          &:hover {
            width: 100%;
            height: 105%;
            cursor: pointer;
          }
        }
      }
    }

    h5 {
      width: 85%;
      margin: 0 auto;

      span.mehr, p.showMehr {
        font-size: 1.2vw;
      }

      span.mehr {
        color: lime;

        &:hover {
          cursor: pointer;
          color: blue;
        }
      }

      p.showMehr {
        display: none;

        &:hover {
          cursor: pointer;
          color: blue;
        }
      }

    }
  }


  // just carouselPart
  div.carousel-container {
    display: none;
    background: cyan;
    min-height: 100vh !important;

    span.remove-carousel {
      position: absolute;
      top: 1vw;
      right: 2vw;
      font-size: 2vw;

      &:hover {
        color: red;
        cursor: pointer;
      }
    }

    div.carouselPart {
      display: relative !important;
      top: 5vw !important;
      height: 500px !important;

      div.contain-imageContainer {
        height: 500px !important;

        div.image-container {
          height: 500px !important;

           img {
             height: 100% !important;
             width: 100% !important;
           }
        }
      }
    }
  }



//   .carousel-inner img {
//     width: 100%;
//     height: 80%;
// }


  // video part
  // div.video {

  // }

  // starting lightbox #################################################################
  div.lightboxContainer {
    position: fixed !important;
    z-index: 4;
    font-family: Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
    display: none;
    // background: lime;
    background: white;

    // own styles
    div.lightbox {
      margin: 0 auto;

      div {

        img.img-hover {

          &:hover {
            border: 2px solid yellow;
            filter: brightness(120%);
          }
        }
      }

      @media screen and (max-width: 750px) {
      height: 700px;
      padding-top: 12vw;
      }

      @media screen and (max-width: 450px) {
        height: 700px;
      padding-top: 5vw;
      }
    }

    h2.lightboxH2 {


      span.fixed-close {
        position: absolute;
        top: 5%;
        right: 5%;
        color: red;

        &:hover {
          cursor: pointer;
        }

        @media screen and (max-width: 450px) {
             top: 5vw;
             right: 9vw !important;
           }

        @media screen and (max-width: 380px) {
             top: 5vw;
             right: 12vw !important;
           }
      }
    }

    // .row > .column {
    // padding: 0 8px;
    // }
    //
    // .row:after {
    //   content: "";
    //   display: table;
    //   clear: both;
    // }
    //
    // .column {
    //   float: left;
    //   width: 25%;
    //
    //   @media screen and (max-width: 750px) {
    //   height: 300px;
    //   }
    //
    //   @media screen and (max-width: 450px) {
    //     height: 300px;
    //   }
    // }

    /* The Modal (background) */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: black;
    }

    /* Modal Content */
    .modal-content {
      position: relative !important;
      // background-color: #fefefe;
      background-color: black;
      margin: auto;
      padding: 0;
      width: 90%;
      max-width: 1200px;

      border: none !important;

      @media screen and (max-width: 650px) {
        height: 100%;
        background: black;
      }

    }

    // adding my style +++++++++++++++++++++++
    // div.background-style {
    //   background-color: darken(brown, 10%);
    //
    //   @media screen and (max-width: 750px) {
    //   margin: 5vw 0;
    //   }
    //
    //   @media screen and (max-width: 450px) {
    //     position: relative !important;
    //     top: 12vw;
    //   }
    //
    //   @media screen and (max-width: 380px) {
    //     position: relative !important;
    //     top: 20vw;
    //   }
    // }

    /* The Close Button */
    .close {
      color: white;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 35px;
      font-weight: bold;

      z-index: 4;

      @media screen and (max-width: 450px) {
           top: 5vw;
           right: 9vw !important;
         }

      @media screen and (max-width: 380px) {
           top: 5vw;
           right: 12vw !important;
         }
    }

    .close:hover,
    .close:focus {
      color: red;
      text-decoration: none;
      cursor: pointer;
    }

    .mySlides {
      display: none;

      img {
        @media screen and (max-width: 750px) {
        height: 100%;
        width: 100%;
        }
      }


      @media screen and (max-width: 750px) {
      height: 60vw !important;
      }

      @media screen and (max-width: 450px) {
        height: 60vw !important;
        position: relative !important;
        top: 18vw;
      }

      @media screen and (max-width: 380px) {
        height: 60vw !important;
        position: relative !important;
        top: 28vw;
      }
    }

    .cursor {
      cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 35%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: black;
      font-weight: bold;
      font-size: 40px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
      background-color: rgba(255,255,255,.4);

      @media screen and (max-width: 450px) {
        padding: 5px 8px !important;
      }
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      // background-color: rgba(0, 0, 0, 0.8);
      background-color: #3D1000;
      color: white;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    img {
      margin-bottom: -4px;
    }

    .caption-container {
      text-align: center;
      background-color: white;
      padding: 8px 16px;
      color: white;
    }

    .demo {
      opacity: 0.6;
    }

    .active,
    .demo:hover {
      opacity: 1;
    }

    img.hover-shadow {
      transition: 0.3s;
    }

    .hover-shadow:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    @media screen and (max-width: 750px) {
    height: 700px;
    padding-top: 12vw;
    }

    @media screen and (max-width: 450px) {
      height: 700px;
    padding-top: 40vw;
    }
  }
  // #######################################################################################



  .vert .carousel-item-next,
  .vert .active.carousel-item-right {
      -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100% 0);
  }

  .vert .carousel-item-prev,
  .vert .active.carousel-item-left {
  -webkit-transform: translate3d(0,-100%, 0);
          transform: translate3d(0,-100%, 0);
  }

}

span.title-img {
  color: #A80900;
  font-weight: 900;
  font-size: 1.2rem;
}
